<div class="question-form-container">
  <h2>Add a New Question</h2>

  <form class="form-container" [formGroup]="form" (ngSubmit)="submitForm()">
    <!-- Question -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Type your question here</mat-label>
      <input
        matInput
        class="input-field"
        formControlName="question"
        placeholder="Please enter question"
      />
      <mat-error *ngIf="form.get('question')?.invalid">
        This field is required
      </mat-error>
    </mat-form-field>

    <!-- Answer Type Select -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Answer Type</mat-label>
      <mat-select
        formControlName="answerType"
        placeholder="Please select answer type"
      >
        <mat-option
          *ngFor="let answerType of answerTypes"
          [value]="answerType.value"
        >
          {{ answerType.title }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('answerType')?.invalid && form.get('answerType')?.touched"
      >
        This field is required
      </mat-error>
    </mat-form-field>

    <!-- Answer Option -->
    <div *ngIf="form.get('answerType')?.value === 'checkbox'">
      <div class="option-count">
        There are {{ answerOptions.length }} options created
      </div>
      <div class="answer-options">
        <div formArrayName="answerOptions">
          <div
            *ngFor="let optionControl of answerOptions.controls; let i = index"
          >
            <div class="answer-option" [formGroupName]="i">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>Answer {{ i + 1 }}</mat-label>
                <input
                  matInput
                  class="input-field"
                  formControlName="option"
                  placeholder="Please enter answer"
                />
              </mat-form-field>
              <button
                mat-button
                (click)="removeAnswerOption(i)"
                class="remove-option-button"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button mat-button (click)="addAnswerOption()" class="add-answer-button">
        + Add Another Answer
      </button>
    </div>

    <div>
      <mat-checkbox name="customAnswer" formControlName="customAnswer">
        Allow user to specify their own answer
      </mat-checkbox>
    </div>

    <div>
      <mat-checkbox name="require" formControlName="require">
        This field is required
      </mat-checkbox>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="submit-button"
      [disabled]="!this.form.valid"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
